@{}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrupoSeb</title>
    <link rel="stylesheet" href="~/css/login_page.css">
    <script defer src="~/js/validation.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <form id="login" action="Login/Logar" method="post">
        <div class="screen-1">
            <img class="logo" src="~/Sebsa.png" alt="">
            <div class="email">
                <label for="email">E-Mail</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input id="email" type="email" name="email" />
                    <span id="erro" hidden>*campo obrigatório!</span>
                </div>
            </div>
            <div class="password">
                <label for="password">Senha</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input id="senha" class="pas" type="password" name="senha" />
                    <span id="erro" hidden>*campo obrigatório!</span>
                    <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                </div>
            </div>
            <button class="login" type="submit">Login</button>
            <div class="footer">
            <a href="">Sign up</a>
            <a>Esqueceu a senha?</a></div>
        </div>
    </form>
</body>

</html>
