<!DOCTYPE html>
<html>
<head>
    <title>GrupoSeb</title>
    <link rel="stylesheet" href="style/login_page.css">
</head>
<body>

    <div class="screen-1">
        <div>
            <img src="img/frame.png" alt="">
        </div>
        <div class="texto">
            <p>
                1- Abra o APP GrupoSeb no seu celular.<br>
                2- faça o login na sua conta.<br>
                3- Clique em TOKEN.<br>
                4- Aponte a câmera do seu celular para o QR Code.
            </p>
        </div>
    </div>

</body>
</html>