<!DOCTYPE html>
<html>
<head>
<title>GrupoSeb</title>
<link rel="stylesheet" href="style/login_page.css">
</head>
<body>
    <form name="login" action="">
    <div class="screen-1">
        <img class="logo" src="img/Sebsa.png" alt="">
        <div class="email">
          <label for="email">E-Mail</label>
          <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" placeholder="Exemplo@gmail.com"/>
          </div>
        </div>
        <div class="password">
          <label for="password">Senha</label>
          <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input class="pas" type="password" name="senha" placeholder="············"/>
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
          </div>
        </div>
        <input class="login" type="button" value="Login">
        <div class="footer"><span>Sign up</span><span>Esqueceu a senha?</span></div>
      </div>
    </form>
</body>
</html>