<!DOCTYPE html>
<html>
<head>
<title>GrupoSeb</title>
</head>
<body>

    <img src="img/Sebsa.jpg">
    <h1>Portal Educacional SEB</h1>
    <p>Para acessar o Portal do Aluno, você precisa inserir seus dados nos respectivos campos.</p>
    <form action="POST">
        <label for="">Usuário</label>
        <input type="text" placeholder="Ex.: 000.000.000-00" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" maxlength="11">
        <label for="">Senha</label>
        <input type="password" placeholder="*************">
        <label for="">Token de validação</label>
        <input type="number">
        <input type="button" value="Entrar">
    </form>

</body>
</html>